<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
    <title>Document</title>
  </head>
  <header class="container mx-auto">
    <div class="flex justify-between pt-PadBig">
      <span class="font-bold text-3xl">ВКР</span>

      <div class="space-x-5">
        <a href="" class="hover:underline">GitHub</a>
        <a href="" class="bg-red-500 py-2 px-4 rounded-full hover:bg-red-700"
          >Контакты</a
        >
      </div>
    </div>
  </header>
  {% block content %} {% endblock %}
</html>
